<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.1.0/pure-min.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="static/z.js"></script>
  </head>

  <body bgcolor="#3db0bb">
    <center>
    <h1>Stuy Crushlists 2013 -- Add/Edit A Crushlist</h1>
    
    {% if name %}
    <form class="pure-form" method="POST">
      <fieldset>
        <legend>Add/Edit Your Crushlist</legend>
	
        <input name="username" type="text" placeholder="Username"><br><br>
	<input name="password" type="password" placeholder="Password"><br><br>
	
        <button id="submit" type="submit" class="pure-button notice">Submit</button>
	</form>

    <form class="pure-form" method="POST">
	<br><br><br>
	<b>If you have not signed up yet:<br> *If you've added a crushlist already but have not created a username and password, type in your name below just as you originally did and then choose your username and password.</b><br>
	<input name="namereg" type="text" placeholder="Your Name"><br><br>
	<input name="usernamereg" type="text" placeholder="Username"><br><br>
	<input name="passwordreg1" type="password" placeholder="Password"><br><br>
	<input name="passwordreg2" type="password" placeholder="Re-type Password"><br><br>
	 <button id="submit" type="submit" class="pure-button notice">Submit</button>
      </fieldset>
    </form>

    {% else %}


    <form class="pure-form" method="POST">
      <fieldset>
	<legend>Add a Crushlist or Edit your Crushlist</legend>

	<div id="crushesgohere">
	  
	  <table class="pure-table">
	    <thead>
	      <tr>
		<th>Name</th>
		<th>Year</th>
		<th>HM</th>
		<th></th>
	      </tr>
	    </thead>
	    {% for item in crushlist %}
	    <tr>
	      
	      <td>{{item[0]}}</td>
	      <td>{{item[1]}}</td>
	      <td>
		{% if item[2] == "true" %}
		Honorable Mention
		{% endif %}
	      </td>
	      <td><button name="{{item[0]}}" class="pure-button" style="font-size:60%;">Remove</button></td>
	      </tr>
	    {% endfor %}
	  </table>
	</div>
      </fieldset>
    </form>

    <form class="pure-form" method="POST">
      <fieldset>
	<input type="text" placeholder="crush" id="ccrush"></input>
	<input type="text" placeholder="year" id="cyear"></input>
	<label style="color:black">Honorable Mention</label>
	<input type="checkbox" id="chm" value=""></input>
	<a href="#" id="addcrush" class="pure-button notice">Add Crushes</a>
      </fieldset>
    </form>

    <form class="pure-form" method="POST">
      <fieldset>
	<button name="remove" type="submit" class="pure-button notice">Remove Crushlist</button>
      </fieldset>
    </form>

    {% endif %}



    <div id="button">
      <button class="pure-button" id="home" onclick="window.location.href='/'">Home</button>
    </div>
    </center>
  </body>

</html>


<!--    

-->
