<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.1.0/pure-min.css">
  </head>

  <body bgcolor="#3db0bb">
    <center>
    <h1>Stuy Crushlists 2013 -- Add/Edit A Crushlist</h1>
    
    {% if name %}
    <form class="pure-form" method="POST">
      <fieldset>
        <legend>Add/Edit Your Crushlist</legend>
	
        <input name="username" type="text" placeholder="Username"><br><br>
	<input name="password" type="password" placeholder="Password"><br><br>
	
        <button id="submit" type="submit" class="pure-button notice">Submit</button>
	</form>

    <form class="pure-form" method="POST">
	<br><br><br>
	<b>If you have not signed up yet:<br> *If you've added a crushlist already but have not created a username and password, type in your name below just as you originally did and then choose your username and password.</b><br>
	<input name="namereg" type="text" placeholder="Your Name"><br><br>
	<input name="usernamereg" type="text" placeholder="Username"><br><br>
	<input name="passwordreg1" type="password" placeholder="Password"><br><br>
	<input name="passwordreg2" type="password" placeholder="Re-type Password"><br><br>
	 <button id="submit" type="submit" class="pure-button notice">Submit</button>
      </fieldset>
    </form>

    {% else %}


    <form class="pure-form" method="POST">
      <fieldset>
	<legend>Add a Crushlist or Edit your Crushlist</legend>

	<div>
	  
	  <table class="pure-table">
	    <thead>
	      <tr>
		<th>Name</th>
		<th>Year</th>
		<th>HM</th>
		<th></th>
	      </tr>
	    </thead>
	    {% for item in crushlist %}
	    <tr>
	      
	      <td>{{item[0]}}</td>
	      <td>{{item[1]}}</td>
	      <td>{{item[2]}}</td>
	      <td><button name="{{item[0]}}" class="pure-button" style="font-size:60%;">Remove</button></td>
	      </tr>
	    {% endfor %}
	  </table>
	</div>
      </fieldset>
    </form>

    <form class="pure-form" method="POST">
      <fieldset>
	<textarea style="width:400px;height:150px;" name="crushes" class="pure-input-2-3" type="text" placeholder="Your Crushes"></textarea>
	
	<button name="add" type="submit" class="pure-button notice">Add Crushes</button>
      </fieldset>
    </form>


    <div>
      Please format your crushlist as such:
      <p/>
      FirstName LastName, Year_of_Graduation, Honorable Mention (HM)
      <p/>
      For example:
      <p/>
      Kevin Li, 2013
      <p/>
      Kevin Li, 2012, HM
    </div>

    <form class="pure-form" method="POST">
      <fieldset>
	<button name="remove" type="submit" class="pure-button notice">Remove Crushlist</button>
      </fieldset>
    </form>

    {% endif %}



    <div id="button">
      <button class="pure-button" id="home" onclick="window.location.href='/'">Home</button>
    </div>
    </center>
  </body>

</html>


<!--    

-->
